<div class="container">
<h2>Inserire le credenziali per la prenotazione</h2>
<form  [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)"
       class="jumbotron" >
  <div class="form-group">
    Nome: <input type="text" name="nome" [formControl]="myForm.controls['nome']"> <br><br>
    Cognome: <input  type="text" name="cognome" [formControl]="myForm.controls['cognome']"> <br><br>
    Indirizzo: <input  type="text" name="indirizzo" [formControl]="myForm.controls['indirizzo']"> <br><br>
    Telefono: <input  type="number" name="telefono" [formControl]="myForm.controls['telefono']"> <br><br>
    Data Prenotazione: <input  type="text" name="DataPrenotazione" [formControl]="myForm.controls['DataPrenotazione']"> <br><br>
    Ora Prenotazione: <input  type="number" name="OraPrenotazione" [formControl]="myForm.controls['OraPrenotazione']"> <br><br>
  </div>
   <button type="submit" class="btn btn-primary" >Prenota!</button><br><br><br>
</form>
</div>
<br>
<ul class="prenotazioni">
  <li *ngFor="let mhanz of prenotazione"
    [class.selected]="mhanz === selectedPrenotazione"
    (click)="onSelect(mhanz)">
    <span class="badge">{{mhanz.DataPrenotazione}}</span> 
    <span class="ins">{{mhanz.nome}} {{mhanz.cognome}}</span>
  </li>
</ul>


<hr>
<app-prenotazione-view *ngIf="selectedPrenotazione" [ciao]="selectedPrenotazione"></app-prenotazione-view>


